<div class="mt-4">
    {{!-- action chỉ định thẻ form sumit ở đâu --}}
    <form method="POST" action="">
    <div class="form-group">
        <label for="search-input">Nhập từ khoá</label>
        {{!-- trong thẻ input có name thì khi sumit, thẻ name thẻ được dính lên URL  --}}
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khoá..">
        </div>
    
    <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
</form>
</div>
